* {
    box-sizing: border-box;
}

body {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.game-container {
    border: 2px solid rgb(230, 230, 230);
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.left {
    border-right: 2px solid black;
}

.right {
    border-left: 2px solid black;
}

.top {
    border-bottom: 2px solid black;
}

.bottom {
    border-top: 2px solid black;
}

.tile {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 3rem;
}

.btn-container {
    align-self: start;
}